*{
box-sizing: border-box;
}
.navbar{
  background-color: #FF8C00;
}

.navbar-brand {
  font-size: 200%;
  float:left;
}

#nav-list {
  margin-top: 0;
  margin-bottom: 0;
  background-color:#F0E68C ;
}
li{
  text-align: center;
}
.row{
  margin-bottom: 15px;
}
h1{
  font-size: 250%;
  font-weight: bold;
}
.row > div{
  margin:3% 2% 1%;
}
.main{
  font-family: Arial;
  border:1px solid black;
  width:100%;
  margin-bottom: 3%;
  background-color: #C0C0C0;
}
h3{
  text-transform: uppercase;
  text-align: center;
  font-weight:bold;
}

@media (max-width: 767px) {
  .row{
    padding-left: 20px;
    padding-right: 20px;
  }
}
